@import "https://fonts.googleapis.com/css?family=Cookie|Raleway:600&display=swap";

body{
    background-color: #2a3b40;
    margin: 0;
    padding: 0;
}

/* Navbar CSS */

.navBar{
 background-image: url("bg1.png");
 background-repeat: no-repeat;
 width:100%;
 height: 1000px;
 background-size: cover;
 text-transform: uppercase;
}

.nav-link{
    color: #fff;
    font-size: 35.02px;
    font-family: 'raleway';
}

.logo{
    color: #fff;
    font-size: 35.02px;
    margin-top: 15px;
    margin-left: 30px;
    text-transform: uppercase;
    font-family: 'raleway';
}

.navbar{
    margin-left: 170px;
}

.box{
    width: 758px;
    max-width: 100%;
    height: 470px;
    background-color: #dadcdd;
    opacity: 0.8;
    margin-top: 80px;

}

.box h2{
    font-size: 104.17px;
    color: #2c3a42;
    text-align: center;
    font-family: 'cookie';
    margin-top: 50px;
    text-transform: capitalize;
    display: block;
    width:100%;
}

.box h3{
    font-size: 76.99px;
    color: #ad6c12;
    text-align: center;
    font-family: 'raleway';  
}

.box .button a{
   margin-top: 30px;
   font-size: 38.49px;
   color: #26363a;
   font-family: 'raleway';
  
}

/* Some Detailed Css */

.detail-area{
    padding-top: 80px;
    padding-left: 70px;
    padding-bottom: 80px;
}

.left-side h4{
    padding-top: 80px;
    font-size: 29.17px;
    color: #fff;
}

.left-side p{
    padding-top: 30px;
    color: #fff;
    font-size: 18.75px;
}

.image-responsive{
        max-width: 100%;
        height: auto;
}

/* New Dishes area Css */

.dishes-area{
    background-color: #d4d8d9;
    height: auto;
    width: 100%;
    padding-top:60px;
    padding-bottom: 60px;
}

.circles{
    width:40px;
    max-width:100%;
    height:40px;
    background-color:#2a3b40;
    border:1px solid;
    border-radius:50%;
    margin-left:80px;  
}

.circles1{
    width:40px;
    max-width:100%;
    height:40px;
    background-color:#2a3b40;
    border:1px solid;
    border-radius:50%;
    margin-left: 10px;  
}

.circles2{
    width:40px;
    max-width:100%;
    height:40px;
    background-color:#2a3b40;
    border:1px solid;
    border-radius:50%;
    margin-left: 10px;
}

.h4-head{
    padding-top: 15px;
    margin-left: 80px;
    font-size: 18.7px;
}

.para{
    margin-left: 80px;
    color: #2a3b40;
    font-size: 16.62px;
    padding-top: 10px;
}

/* Card area CSS */

.card{
    background-image: url("background.png");
    background-repeat: no-repeat;
    width:100%;
    height: 1206px;
    background-size: cover;
}

.help{
    margin-bottom: 80px;
}
.rectangle{
    background-color: #e9e4dc;
    padding-top: 10px;
    padding-bottom: 10px;   
}

.c-name{
    font-family: 'cookie';
    font-size: 77.11px;
    color: #304751;
    margin-bottom: -20px;
}

.cp-name{
    font-size: 47.59px;
    color: #ad6c12;
    text-transform: uppercase;
}
